
.footer-links {
  list-style: none !important;
  padding-left: 0 !important;
}
footer{
  border-radius: 50px 50px 0 0;
}
.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  color: #000000;
  text-decoration: none !important;
  opacity: 0.85;
  transition: 0.25s;
}

.footer-links a:hover {
  color: #ffffff;
  opacity: 1;
  padding-left: 5px;
  text-decoration: none !important;
  z-index: 1000;
  
}

.footer * {
  text-decoration: none !important;
}

a {
  color: gray;
}

p a:hover {
  color: white;
}
